{
  "feeds": [
    {
      "endpoint":"https://example.org/feed/calendar.ics",
      "name":"Example Events",
      "protocol":"ical",
      "interval":120,
      "options": {
        "headers": {
          "User-Agent": "UA bot"
        }
      }
    }
  ]
}
